{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Tokens{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if tokens %}
<div class="nest tokens">
    <div class="grid-2 th username"><p>username</p></div>
    <div class="grid-5 th token"><p>token</p></div>
    <div class="grid-5 th secret"><p>secret</p></div>
    <div class="grid-12 pad"></div>
    {% for token in tokens %}
        <div class="grid-2 td username"><p>{{ token['username'] }}</p></div>
        <div class="grid-5 td token"><p>{{ token['token'] }}</p></div>
        <div class="grid-5 td secret"><p>{{ token['secret'] }}</p></div>
        {% if not loop.last %}
        <div class='grid-12 pad'></div>
        {% else %}
        <div class='grid-12'>
            <p>
                <a download="tokens.json" href='data:text/plain;charset=utf-8,{{ dl }}'>Download json</a>
            </p>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% else %}
    <p>
        No data yet!
    </p>
{% endif %}
{% endblock %}
