<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %} - tokenCollector</title>
<link rel="stylesheet" href="{{ url_for('static', filename='rwdgrid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" id="header">
        <div class="grid-3 logo">
            <!-- Logo -->
        </div>
        <div class="grid-6">
            {% for message in get_flashed_messages() %}
                <p class="flash">
                    {{ message }}
                </p>
            {% endfor %}
        </div>
        <div class="grid-3 logo">
            <img src="{{ url_for('static', filename='logo.png') }}" />
        </div>
    </div>
    <div class="container" id="main">
        <div class="grid-2 nav">
            {% if g.admin %}
                <a href="{{ url_for('index') }}">Index</a><br />
                <a href="{{ url_for('adminView') }}">Tokens</a><br />
                <a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
                <a href="{{ url_for('login') }}">Admin</a>
            {% endif %}
        </div>
        <div class="grid-8 content">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div class="grid-2"></div>
    </div>
    <div class="container" id="footer">
        <div class="grid-6 impressum">
            <p>
                <a href="/impressum.html">Impressum</a>
            </p>
        </div>
        <div class="grid-6 kontakt">
            <p>
                <a href="/impressum.html">Kontakt</a>
            </p>
        </div>
    </div>
</body>

</html>
